.profilestyles {
	margin: auto;
	max-width: 1400px;
}
.header {
	margin: 100px auto auto;
	width: 95%;
}
.header section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header section h1 a {
	width: 100%;
}
.header section h1 {
	padding: 5px 10px;
	border-radius: 30px;
	border: 3px solid;
	cursor: pointer;
}
.profileimage img {
	border-radius: 50%;
}
.profileimage {
	background-color: black;
	width: fit-content;
	margin: 50px auto;
	border-radius: 50%;
	position: relative;
	width: 240px;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profileimage .fa-camera {
	background-color: var(--backgroundColor);
	padding: 5px;
	border-radius: 50%;
	color: var(--themeColor);
	font-size: 1.5rem;
	position: absolute;
	bottom: 30px;
	right: 10px;
	cursor: pointer;
}
.profileimage input {
	display: none;
}
.main {
	width: 80%;
	margin: auto;
	margin-bottom: 100px;
}
.main section {
	margin-top: 40px;
}
.main section > label {
	margin-top: 20px;
	display: inline-block;
}
.main .editinput {
	display: none;
}
.main .showeditinput {
	display: block;
	background-color: var(--inputColor);
	color: var(--textColor);
}
.main .textborder,
.main .editinput {
	border-radius: 5px;
	border: 1px solid var(--semiGrayscale);
	padding: 10px;
	margin: 20px auto;
	min-height: 43px;
	width: 100%;
}
.main .nameinputContainer {
	display: flex;
	gap: 50px;
}
.main .datecontainer {
	position: relative;
}
.main .datecontainer i {
	position: absolute;
	right: 10px;
	top: 65%;
	cursor: pointer;
}
.main .gendercontainer {
	display: flex;
	justify-content: space-between;
	gap: 2.5rem;
}
.main .gendercontainer p {
	width: 50%;
	border: 1px solid var(--borderColor);
	display: flex;
	flex-direction: row-reverse;
	gap: 0.625rem;
	justify-content: center;
	padding-right: 1.25rem;
	text-transform: capitalize;
}
.main .submitbuttoncontainer {
	display: flex;
	justify-content: space-around;
	margin-top: 1.875rem;
}
.main .submitbuttoncontainer button {
	border: 1px solid var(--themeColor);
}
.main button {
	width: 30%;
	border-radius: 1rem;
	font-size: 1.5rem;
	padding: 1.25rem;
	display: none;
}
.main button:first-child {
	background-color: #585ce5;
	color: #fff;
}
@media (max-width: 900px) {
	.main .submitbuttoncontainer {
		flex-direction: column;
		gap: 40px;
	}
	.main button {
		width: 100%;
	}
}
