.signinstyles {
	min-height: 100vh;
	height: 100%;
	max-width: 100vw;
	background: linear-gradient(to right, rgb(40, 42, 55), rgba(79, 82, 95, 0.85)),
		/* background: linear-gradient(
			to right,
			rgb(87, 92, 229),
			rgba(87, 92, 229, 0.5)
		), */
			url('../../public/images/doctor.png') 95% 10% / contain no-repeat fixed;
	color: #fff;
}
.signinstyles .header {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.nav {
	padding: 2.5rem;
	padding-left: 4rem;
	display: flex;
	align-items: center;
	width: 45%;
	min-width: 700px;
}
.nav h1 {
	font-size: 1.875rem;
	margin-right: auto;
}
.nav a {
	color: grey;
	margin-right: 100px;
}
.main {
	padding: 5%;
}
.header h1 {
	font-size: 4rem;
}
.header p {
	font-size: 1.2rem;
	color: grey;
}
.header > span {
	font-size: 1.2rem;
}
.header > span > a {
	color: rgba(30, 117, 198);
}
.form {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin-top: 5%;
	gap: 100px;
}
.form div {
	position: relative;
}
.form input {
	border: none;
	background-color: transparent;
	outline: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	padding: 20px 0 10px 0px;
	width: 100%;
	height: 100%;
}
.form .error {
	border-bottom: 3px solid rgb(255, 0, 0);
}
.form .labelerror {
	color: rgb(255, 0, 0);
}
.form input:focus {
	border-bottom: 3px solid rgba(30, 117, 198);
}
.form input:focus + label {
	top: -20px;
	color: rgba(30, 117, 198);
}
.form div label {
	display: block;
	position: absolute;
	top: 0;
	transition: top 0.3s ease;
}
.form div span {
	position: absolute;
	right: 0;
	display: none;
	cursor: pointer;
	margin: 10px;
}
.form .inputfilled {
	top: -20px;
}
.form div .show {
	display: inline-block;
}
.form input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #fff;
}
.form .formvalid {
	color: red;
	display: flex;
	align-items: center;
	margin-top: 10px;
	gap: 10px;
}
.form .forgotpassword {
	color: rgba(30, 117, 198);
	margin-top: 20px;
	display: inline-block;
}
.form .formfooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form .formfooter input {
	width: fit-content;
	margin-right: 10px;
}
.form .formfooter p {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}
.form .formfooter label {
	position: static;
}
.form button {
	border-radius: 30px;
	background: rgb(28, 144, 240);
	color: #fff;
	padding: 20px 50px;
	transition: background 0.3s ease;
}
.form button:hover {
	background: rgba(28, 144, 240, 0.7);
}
.footer {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.footer h1 {
	font-family: camar;
	font-size: 3vw;
	letter-spacing: 0.3125rem;
	animation: colorchanger 20s linear infinite;
}
@keyframes colorchanger {
	0% {
		color: rgba(30, 117, 198);
	}
	50% {
		color: rgb(255, 255, 255);
	}

	100% {
		color: rgba(30, 117, 198);
	}
}
@media (max-width: 768px) {
	.signinstyles {
		background: linear-gradient(
				to bottom right,
				rgb(40, 42, 55),
				rgba(79, 82, 95, 0.85)
			),
			url('../../public/images/doctor.png') 90% 45% / contain no-repeat fixed;
	}
	.main {
		padding: 0 0 20% 0;
		width: 90%;
		margin: 10% auto 0;
	}
	.nav {
		min-width: unset;
		width: 90%;
		padding: 7%;
	}
	.nav a {
		display: none;
		margin-right: 50px;
	}
	.header h1 {
		font-size: 2rem;
	}
	.header p {
		width: 70%;
	}
	.form {
		gap: 70px;
		width: unset;
		margin-top: 30%;
	}
	.form button {
		width: 100%;
	}
	.form .formfooter {
		flex-direction: column;
		align-items: flex-start;
		gap: 50px;
	}
	.footer {
		display: none;
	}
}
